<html>

<head>
{% block head %}
<script src="{{ url_for('static', filename = 'lib/jquery.min.js') }}"></script>
<link href="{{ url_for('static', filename = 'lib/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename = 'lib/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
<link href="{{ url_for('static', filename = 'lib/jquery-ui.min.css') }}" rel="stylesheet"/>
<script src="{{ url_for('static', filename = 'lib/jquery-ui.min.js') }}"></script>
<link href="{{ url_for('static', filename = 'lib/sticky-footer-navbar.css') }}" rel="stylesheet">
<style type='text/css'>
.container {
    margin-right: 0;
    margin-left: 0; 
    width: 100%;
}
.navbar-nav > .active > a {
    font-weight: bold !important;
}
#logout button {
    margin: 8px;
}
</style>
{% endblock %}
</head>

<body>
{% block content %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            	<li><a id="index" class="navbar-brand" href="/" target="main">Slippy Maps</a></li>
                <li><a id="maps" href="/maps" target="maps">Maps</a></li>
                <li><a id="help" href="/help" target="help">Help</a></li>
                <li><a id="contact" href="/contact" target="contact">Contact</a></li>
            </ul>
	    <a id="logout" href="/logout"><button type="button" class="btn btn-primary pull-right">Logout</button></a>
        </div>
    </div>
</div>

<div class="container">
    {% block page_content %}{% endblock %}
</div>

<footer class="footer noPrint">
       <div class="container">
		<p class="text-muted credit">Created by <a target="_blank" href="http://www.lsce.ipsl.fr/en"><span title="Climate and Environment Sciences Laboratory" style="font-weight:bold;">LSCE</span></a>&nbsp;<a target="_blank" href="http://www.lsce.ipsl.fr/en"><img src="{{ url_for('static', filename = 'images/LSCE_Icon.png') }}" title="Climate and Environment Sciences Laboratory"/></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Version 0.6 - 2017/04/28</p>
      </div>
</footer>

<script>
$(document).ready(function () {
    $("#{{request.endpoint}}").parent().addClass("active");
});
</script>

{% endblock %}

</body>
</html>
