{% extends "base.html" %}

{% block page_content %}
      	<div class="row">
              <div class="col-xs-8">
		<b><p>Data and web engineering: </b>
		<p><A HREF="mailto:Patrick.Brockmann@lsce.ipsl.fr">Patrick Brockmann</A></br>
Data scientist at LSCE/DRF/CEA, member of the "CalculS" group of LSCE.<br>
Research interests: Data analysis and visualization, geo-spatial web applications, geo-services architectures and data processing in high performance computing environments.
		</p>
              </div>
        </div>

{% endblock %}
