{% extends "base.html" %}

{% block page_content %}
<div class="row">
    <div class="col-xs-12">
    	<b><p>Help:</b>
<p>
Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso equo, cuius modo feci mentionem, si nulla res impediat, nemo est, quin eo, quo consuevit, libentius utatur quam intractato et novo. Nec vero in hoc quod est animal, sed in iis etiam quae sunt inanima, consuetudo valet, cum locis ipsis delectemur, montuosis etiam et silvestribus, in quibus diutius commorati sumus.
    </div>

    <div class="col-xs-12">
    	<b><p>Acknowledgment:</b>
<p>
I wish to acknowledge use of the pyferret program used in this application. Ferret and pyferret are products of NOAA's Pacific Marine Environmental Laboratory. Information is available at <a target='_blank' href='http://ferret.pmel.noaa.gov/Ferret/'>http://ferret.pmel.noaa.gov/Ferret/</a>
    </div>





</div>

{% endblock %}
