{% extends "base.html" %}

{% block head %}
<title>MakeMeMaps/Maps</title>
{{ super() }}

    <script src="{{ url_for('static', filename = 'lib/bootstrap-add-clear.min.js') }}"></script>

    <link rel='stylesheet' href="{{ url_for('static', filename = 'lib/bootstrap-toggle.min.css') }}" />
    <script src="{{ url_for('static', filename = 'lib/bootstrap-toggle.min.js') }}"></script>

    <link rel='stylesheet' href="{{ url_for('static', filename = 'lib/leaflet.css') }}" />
    <script src="{{ url_for('static', filename = 'lib/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename = 'lib/L.Map.Sync.js') }}"></script>

    <link rel='stylesheet' href="{{ url_for('static', filename = 'lib/font-awesome-4.7.0/css/font-awesome.min.css') }}" />

    <style type='text/css'>
        html, body { font-family: 'arial' }
        .mapContainer { display: inline-block ; margin-left: 10px; margin-top: 10px; }
        .title { font-size: 12px; float: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
        .controls { font-size: 12px; float: right; }
	.map { width: 500px; height: 250px; }
        .key { text-align: center; margin: auto; }
        .key img { max-width: 400px; max-height: 50px; }		/* colorbar is 400x50 */
	.leaflet-bar a, .leaflet-bar a:hover {
    		height: 16px;
    		line-height: 16px;
    		width: 16px;
	}
	.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    		font-size: 14px;
		text-indent: 0px;
	}
	.controls { visibility: hidden; }
	.mapContainer:hover > .header > .controls { visibility: visible; }
	#dialog {
		display: none;
		font-size: 12px;
	}
	#commandLine {
                width: 100%;
		font-size: 12px;
	}
	#addMap {
                left: 220px;
		position: relative;
		margin-top: 15px;
	}
	.ui-dialog { z-index: 1000 !important; }
	.ui-dialog-title { font-size: 12px !important; }
	.ui-icon-gripsmall-diagonal-se { z-index: 1000 !important; }
	.fa { 
		margin-top: 5px; 
		margin-bottom: 5px; 
		cursor: pointer;
		opacity: 0.7 !important;
	}
	.arrowControls {
		display: inline;
		opacity: 0.7;
	}
	.forSelect {
                width: 500px;
		height: 60px;
                left: 30px;
		position: relative;
	}
	.forSelect label {
		position: relative;
		left: -30px;
		margin-top: 0px;
		margin-bottom: 0px;
		font-weight: normal;
		font-style: italic;
		font-size: 13px;
	}
	#forToggle {
		position: relative;
		top: -200px;
		left: 700px;
	}
    </style>
{% endblock %}

{% block page_content %}
<div id="dialog">
	<div id="fileOpen"></div>
	<input type="text" class="form-control" id="commandLine" placeholder="New command">
</div>

<div class="forSelect">
   <label for="file">File to open:</label>
   <input type="text" class="form-control" id="file" list="list_file" type="search"
		placeholder="Enter a dataset"
		value="levitus_climatology"> 
   <datalist id="list_file">
	<option value="levitus_climatology" selected="selected">
	<option value="monthly_navy_winds">
   </datalist>
</div>

<div class="forSelect">
   <label for="command">Command to run:</label>
   <input type="text" class="form-control" id="command" list="list_command" type="search"
		placeholder="Enter a command"
		value="shade/x=-180:180/y=-90:90/lev=10v/pal=mpl_PSU_inferno"> 
   <datalist id="list_command">
	<option value="shade/x=-180:180/y=-90:90/lev=10v/pal=mpl_PSU_inferno" selected="selected">
	<option value="shade/x=-180:180/y=-90:90/lev=10v/pal=mpl_PSU_plasma">
	<option value="shade/x=-180:180/y=-90:90/lev=10v/pal=mpl_PSU_viridis">
	<option value="shade/x=-180:180/y=-90:90/lev=10v/pal=mpl_PSU_magma">
	<option value="shade/x=-180:180/y=-90:90/lev=20/pal=mpl_Div_PRGn">
	<option value="shade/x=-180:180/y=-90:90/lev=20/pal=mpl_Div_RdBu">
	<option value="shade/x=-180:180/y=-90:90/lev=20/pal=default">
   </datalist>
</div>

<div class="forSelect">
   <label for="variable">Variable to display:</label>
   <input type="text" class="form-control" id="variable" list="list_variable" type="search"
		placeholder="Enter a variable"
		value="TEMP[k=1,l=1]"> 
   <datalist id="list_variable">
	<option value="TEMP[k=1,l=1]" selected="selected">
	<option value="SALT[k=1,l=1]">
   </datalist>
</div>

<p>
<button type="button" class="btn btn-default" id="addMap">Insert a map</button>
</p>

<div id="forToggle">
	<label for="pyferretWMS_toggle">pyferretWMS server:</label>
	<input id="pyferretWMS_toggle" data-toggle="toggle" data-on="On" data-off="Off" data-onstyle="success" data-offstyle="danger" type="checkbox">
</div>

<div id="mapSpace"></div>

<script type='text/javascript'>

//===============================================
var crs = L.CRS.EPSG4326;

var Id = 0;
var currentId = 0;
var map = {};			// associative array
var wmspyferret = {};
var frontiers = {};
var syncControls = {};
var width = 500;
var height = 250;

var wmsserver = 'http://localhost:{{ port }}';

//===============================================
$("input:text").addClear({                      // https://github.com/gesquive/bootstrap-add-clear
        showOnLoad: true,
        onClear: function() {
                $("#addMap").prop('disabled', true);
        }
});

$("input:text").on('input', function() {
        if ($(this).val().length != 0) {
                $("#addMap").prop('disabled', false);
        }
});

function newVariables(data) {			// get from the ajax request below that returns newVariables() 
	//console.log(data);
	for (i in data) {
		dataEntry =  data[i] + '[k=1,l=1]';
		optionExists = ($('#list_variable option[value="' + dataEntry + '"]').length > 0);
		if (!optionExists) { $('#list_variable').append('<option value="' + dataEntry + '">'); }
		if (i == data.length-1) { $("#variable").val(dataEntry); }				// preselect the 1st variable
	}
}

$("#file").on('input', function() {
	// to make cross-domain Ajax call possible https://www.sitepoint.com/jsonp-examples/
	$.ajax({
  		url: wmsserver,
		data: 'SERVICE=WMS' + '&REQUEST=GetVariables' + '&FILE=' + $(this).val(),
  		dataType: 'jsonp'		// will return newVariables()
	});
});

//===============================================
function syncMaps() {			// do all synchronizations (less efficient than a python itertools.permutations)
	listIds = Object.keys(map);
	//console.log(listIds);
	for (i in listIds) {
		for (j in listIds) {
			if (i != j) {
				map[listIds[i]].sync(map[listIds[j]]);
			}
		}
	}
}

//===============================================
function getTitle(aCommand, aVariable) {
	// Inspect command to get /title qualifier if present
	m = aCommand.match(/title=([\w&]+)/);		// equivalent to search in python
	if (m != null)
		title = m[1];
	else 
		title = aVariable; 
	return title
}

//===============================================
$("body").on('click', ".title", function() {		// to get dynamically created divs
	attrId = $(this).attr('id');
	currentId = attrId.replace('title','');
        file = wmspyferret[currentId].wmsParams.file;
	$('#fileOpen').text(file);
	$('#commandLine').val($('#'+attrId).attr('title'));
	$('#commandLine').attr('mapId', currentId);
	$('#dialog').dialog({ title: 'Command of map #'+currentId, modal: false, width: 600, height: 120,
			      position: {my: "left+30 top+30", at: "left", of: this} });
});

//===============================================
$('#commandLine').on('keypress', function(event) {
    if(event.which === 13) {				// Enter key pressed
        file = wmspyferret[currentId].wmsParams.file;
        commandLine = $(this).val().split(' ');
        command = commandLine[0];
        commandLine.shift();
        variable = commandLine.join(' ');       
	Id = $(this).attr('mapId');
        wmspyferret[Id].setParams({ command: command, variable: variable.replace('+','%2B') });
	title = getTitle(command, variable);
        $('#title'+Id).html(title);   
        $('#title'+Id).attr('title', command + ' ' + variable);
	$('#key'+Id).children('img').attr('src', wmsserver + '?SERVICE=WMS&REQUEST=GetColorBar' +
							'&FILE=' + file +
							'&COMMAND=' + command +
							'&VARIABLE=' + variable.replace('+','%2B'));
    }
});

//===============================================
$("#addMap").on('click', function() {

	file = $('#file').val();
	optionExists = ($('#list_file option[value="' + file + '"]').length > 0);			// Append only if not existing
	if (!optionExists) { $('#list_file').append('<option value="' + file + '">'); }

	command = $('#command').val();
	optionExists = ($('#list_command option[value="' + command + '"]').length > 0);
	if (!optionExists) { $('#list_command').append('<option value="' + command + '">'); }

	variable = $('#variable').val();
	optionExists = ($('#list_variable option[value="' + variable + '"]').length > 0);
	if (!optionExists) { $('#list_variable').append('<option value="' + variable + '">'); }

	Id++;
	divs = "<div class='mapContainer'>" + 
   			"<div id='mapHeader" + Id + "' class='header'>" +
   			    "<div id='title" + Id + "' class='title'></div>" +
   			    "<div id='controls" + Id + "' class='controls'>" +
   			    	"<div id='link" + Id + "' class='link fa fa-link'></div>&nbsp;&nbsp;&nbsp;&nbsp;" +
   			    	"<div id='arrowControls" + Id + "' class='arrowControls'>" +
   			    		"<div id='up" + Id + "' class='up fa fa-arrow-up'></div>&nbsp;" +
   			    		"<div id='down" + Id + "' class='down fa fa-arrow-down'></div>&nbsp;" +
   			    		"<div id='backward" + Id + "' class='backward fa fa-arrow-left'></div>&nbsp;" +
   			    		"<div id='forward" + Id + "' class='forward fa fa-arrow-right'></div>&nbsp;&nbsp;" +
   			    	"</div>" +
   			    	"<div id='close" + Id + "' class='close fa fa-close'></div>" +
   			    "</div>" +
   			"</div>" +
			"<div id='map" + Id + "' class='map'></div>" + 
   			"<div id='key" + Id + "' class='key'><img /></div>" +
   		"</div>";
	$('#mapSpace').append(divs);
	wmspyferret[Id] = L.tileLayer.wms(wmsserver, {
		file: file,
		command: command,
		variable: variable,
	    	crs: crs,
		format: 'image/png',
		transparent: true,
	    	uppercase: true
	});
	frontiers[Id] = L.tileLayer.wms('http://www.globalcarbonatlas.org:8080/geoserver/GCA/wms', {
		layers: 'GCA:GCA_frontiersCountryAndRegions',
		format: 'image/png',
    		crs: crs,
		transparent: true
	});
	map[Id] = L.map('map'+Id, {
		layers: [wmspyferret[Id], frontiers[Id]],
	    	crs: crs,
		center: [0, 0],
		zoom: 0,
	    	attributionControl: false
	});
	$('#map'+Id).resizable();
	$('#map'+Id).width(width);
	$('#map'+Id).height(height);
	title = getTitle(wmspyferret[Id].wmsParams.command, wmspyferret[Id].wmsParams.variable.replace('%2B','+'));
	$('#title'+Id).html(title);
	$('#title'+Id).attr('title', wmspyferret[Id].wmsParams.command + ' ' + wmspyferret[Id].wmsParams.variable.replace('%2B','+'));   
	$('#key'+Id).children('img').css('width', width + 'px');
	$('#key'+Id).children('img').css('height', parseInt(width/8) + 'px');			// according to ratio 400/50 = 8
	$('#key'+Id).children('img').attr('src', wmsserver + '?SERVICE=WMS&REQUEST=GetColorBar' +
							'&FILE=' + wmspyferret[Id].wmsParams.file +
							'&COMMAND=' + wmspyferret[Id].wmsParams.command +
							'&VARIABLE=' + wmspyferret[Id].wmsParams.variable.replace('+','%2B'));
	map[Id].invalidateSize();
	syncMaps();
	syncControls[Id] = true;
});

//===============================================
$("body").on('click', ".link", function(event) {
	attrId = $(this).attr('id');
	Id = parseInt(attrId.replace('link',''));
	if (syncControls[Id]) {
		$('#link'+Id).attr('class', 'link fa fa-unlink');
		syncControls[Id] = false;
		$('#arrowControls'+Id).css('pointer-events', 'none');
		$('#arrowControls'+Id).css('opacity', 0.2);
	} else {
		$('#link'+Id).attr('class', 'link fa fa-link');
		syncControls[Id] = true;
		$('#arrowControls'+Id).css('pointer-events', 'auto');
		$('#arrowControls'+Id).css('opacity', 0.7);
	}
});

//===============================================
$("body").on('click', ".up", function(event) {
	listIds = Object.keys(map);
	for (i in listIds) {
		Id = listIds[i];		
		if (syncControls[Id]) {
			variable = wmspyferret[Id].wmsParams.variable;
			m = variable.match(/k=([0-9]+)/);		// equivalent to search in python
			if (m != null) {
				kindex = parseInt(m[1]);
				if (kindex == 1) { continue }
				newVariable = variable.replace(m[0], 'k=' + (kindex-1).toString());
				wmspyferret[Id].setParams({ variable: newVariable });
				title = getTitle(wmspyferret[Id].wmsParams.command, wmspyferret[Id].wmsParams.variable.replace('%2B','+'));
				$('#title'+Id).html(title);
				$('#title'+Id).attr('title', wmspyferret[Id].wmsParams.command + ' ' + wmspyferret[Id].wmsParams.variable.replace('%2B','+'));
			}
		}
	}
});

//===============================================
$("body").on('click', ".down", function(event) {
	listIds = Object.keys(map);
	for (i in listIds) {
		Id = listIds[i];		
		if (syncControls[Id]) {
			variable = wmspyferret[Id].wmsParams.variable;
			m = variable.match(/k=([0-9]+)/);		// equivalent to search in python
			if (m != null) {
				kindex = parseInt(m[1]);
				newVariable = variable.replace(m[0], 'k=' + (kindex+1).toString());
				wmspyferret[Id].setParams({ variable: newVariable });
				title = getTitle(wmspyferret[Id].wmsParams.command, wmspyferret[Id].wmsParams.variable.replace('%2B','+'));
				$('#title'+Id).html(title);
				$('#title'+Id).attr('title', wmspyferret[Id].wmsParams.command + ' ' + wmspyferret[Id].wmsParams.variable.replace('%2B','+'));
			}
		}
	}
});

//===============================================
$("body").on('click', ".backward", function(event) {
	listIds = Object.keys(map);
	for (i in listIds) {
		Id = listIds[i];		
		if (syncControls[Id]) {
			variable = wmspyferret[Id].wmsParams.variable;
			m = variable.match(/l=([0-9]+)/);		// equivalent to search in python
			if (m != null) {
				lindex = parseInt(m[1]);
				if (lindex == 1) { continue }
				newVariable = variable.replace(m[0], 'l=' + (lindex-1).toString());
				wmspyferret[Id].setParams({ variable: newVariable });
				title = getTitle(wmspyferret[Id].wmsParams.command, wmspyferret[Id].wmsParams.variable.replace('%2B','+'));
				$('#title'+Id).html(title);
				$('#title'+Id).attr('title', wmspyferret[Id].wmsParams.command + ' ' + wmspyferret[Id].wmsParams.variable.replace('%2B','+'));
			}
		}
	}
});

//===============================================
$("body").on('click', ".forward", function(event) {
	listIds = Object.keys(map);
	for (i in listIds) {
		Id = listIds[i];		
		if (syncControls[Id]) {
			variable = wmspyferret[Id].wmsParams.variable;
			m = variable.match(/l=([0-9]+)/);		// equivalent to search in python
			if (m != null) {
				lindex = parseInt(m[1]);
				newVariable = variable.replace(m[0], 'l=' + (lindex+1).toString());
				wmspyferret[Id].setParams({ variable: newVariable });
				title = getTitle(wmspyferret[Id].wmsParams.command, wmspyferret[Id].wmsParams.variable.replace('%2B','+'));
				$('#title'+Id).html(title);
				$('#title'+Id).attr('title', wmspyferret[Id].wmsParams.command + ' ' + wmspyferret[Id].wmsParams.variable.replace('%2B','+'));
			}
		}
	}
});

//===============================================
$("body").on('click', ".close", function(event) {
    closeId = $(this)[0].id;
    selectedId = parseInt(closeId.replace('close',''));
    $('#map'+selectedId).parent().remove();
    delete map[selectedId];
    delete wmspyferret[selectedId];
    delete frontiers[selectedId];
    delete syncControls[selectedId];
});

//===============================================
$(document).on('resizestop', '.map', function() {
	width = $(this).width();
	height = $(this).height();
	listIds = Object.keys(map);
	for (i in listIds) {
		Id = listIds[i];		
		$('#map'+Id).width(width);
		$('#map'+Id).height(height);
		$('#mapHeader'+Id).width(width);
		$('#title'+Id).css('max-width', width-16*5 + 'px');
		$('#key'+Id).children('img').css('width', width + 'px');
		$('#key'+Id).children('img').css('height', parseInt(width/8) + 'px');		// according to ratio 400/50 = 8
		map[Id].invalidateSize();
	}
});

//===============================================
function get_pyferretWMS_status() {
	$.ajax({
		url: '/pyferretWMS_status',
		success : function(status) {
				//console.log(status);
				$('#pyferretWMS_toggle').bootstrapToggle(status);
       		}
	});
}
get_pyferretWMS_status();
setInterval(get_pyferretWMS_status, 2000);

$('#pyferretWMS_toggle').on('change', function() {
	checked = $(this).prop('checked');
	if (checked) { cmd = 'on'; } else { cmd = 'off'}
	$.ajax({
               	url: '/pyferretWMS_toggle',
		type: 'GET',
		data: { 'cmd': cmd }
        });
});

</script>
{% endblock %}
